<!DOCTYPE html>
<html>
  <head>
    <title>クーポン購入サイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h2><%= link_to 'クーポン購入サイト', root_path %></h2>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
